project_id           = "seu-projeto-gcp"
region               = "us-central1"
backend_service_name = "backend-service"
frontend_service_name = "frontend-service"
artifact_registry_repo = "app-images"
db_name              = "appdb"
db_user              = "appuser"
db_password          = "TroqueEssaSenhaForte123!"
github_owner         = "seu-usuario"
github_repo          = "gcp-fullstack-cicd"
